body{
    background-color: rgb(80, 73, 73);
}

.image{
    width: 80%;
    margin-left: 200px;
    margin-top: 50px;
}

input{
    width: 230px;
    border-radius: 10px;
    height: 40px;
}
select{
    width: 100px;
    height: 40px;
}
.btn{
    width: 100px;
    height: 40px;
    background-color: orangered;
    border-radius: 10px;
}
.searchs{
    display: flex;
    gap: 40px;
    margin-top: 60px;
    margin-left: 430px;
}
img{
    width: 300px;
    height: 200px;
}
p{
    color: #fff;
}
b{
    color: #fff;
}
.box3{
    width: 300px;
    height: 400px;
    text-align: center;
    font-size: 19px;
    border: 3px solid black;
    margin-top: 40px;
}
.box{
    display: flex;
    flex-wrap: wrap;
}